
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: Roboto, sans-serif;
}


.logo-header {
    width: 10%;
    height: 100px;
    background-color: #8accc3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/*media query for mobile devices */ 
/* header */

  @media (max-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo-header {
        flex-shrink: 2;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-shrink: 1;
    }
    
  }

/* nav  */

nav a:hover {
    color: #999999;
    font-weight: 400;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li {
    list-style: none;
    padding: .25em;
}
